
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- section benefits ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.section-benefits{
  width: 100%;
  height: 1395px;
  background: var(--color-light-grey);
  padding-top: 105px;
}

.container--benefits{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.benefits-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 35px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  height: 370px;
  width: 1124px;
  background: var(--color-white);
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  margin-bottom: 37px;
}

.benefit-order__two1,
.benefit-order__one2,
.benefit-order__two3{
  display: grid;
  position: relative;
  img{
    z-index: 1;
  }
  &::after{
    content: "";
    position: absolute;
    z-index: 0;
  }
}

.benefit-order__two1{
  place-self: end;
  padding-bottom: 30px;
  padding-left: 40px;
  img{
    max-width: 80%;
  }
  &::after {
    top: -25%;
    left: 50%;
    height: 180px;
    width: 180px;
    color: var(--color-redish);
    background: var(--color-redish);
    border-radius: 41px;
    transform: rotate(45deg);
  }
}

.benefit-order__one2{
  place-self: center;
  padding-left: 50px;
  img{
    max-width: 89%;
  }
  &::after {
    top: -3%;
    left: 7%;
    height: 325px;
    width: 325px;
    color: var(--color-primary);
    background: var(--color-primary);
    border-radius: 50%;
  }
}

.benefit-order__two3{
  padding-left: 50px;
  justify-items: center;
  align-items: center;
  img{
    max-width: 60%;
  }
  &::after {
    top: 0;
    left: 11%;
    height: 370px;
    width: 440px;
    color: var(--color-green);
    background: var(--color-green);
    border-radius: 5px;
  }
  background: var(--color-light-grey);
  margin-left: 50px;
  height: 100%;
}

.benefit-order__one1,
.benefit-order__two2,
.benefit-order__one3{
  padding-bottom: 30px;
}

.benefit-order__one1{
  height: 50%;
}

.benefit-order__two2{
  padding-left: 110px;
}

.benefit-info__text{
  width: 416px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.benefit-info__text1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-redish);
}

.benefit-info__text2::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-primary);
}

.benefit-info__text3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-green);
}

.benefit-info__title{
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}

.benefit-info__title3{
  width: 348px;
}




//MEDIA properties starts here

@media (max-width: 1080px){

  .section-benefits{
    height: 1910px;
    padding-top: 80px;
  }

  .benefits-card{
    //display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 560px;
    width: 482px;
  }
  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__two3{
    order: 2;
  }

  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__one3{
    padding-bottom: 0px;
  }

  .benefit-info__title{
    width: 100%;
  }
  .benefit-info__text{
    width: 100%;
  }

  .benefit-info__text1::after,
  .benefit-info__text2::after,
  .benefit-info__text3::after{
    border: none;
  }

  .benefit-order__two1{
    padding-bottom: 0;
    padding-left: 0;
    img{
      max-width: 60%;
      justify-self: center;
      align-self: flex-start;
    }
    &::after {
      top: -30%;
      left: 54%;
      height: 150px;
      width: 150px;
      //border-radius: 41px;
    }
  }

  .benefit-order__one1{
    height: 80%;
  }

  .benefit-order__one2{
    justify-items: center;
    padding-left: 0px;
    img{
      padding-top: 30px;
      max-width: 68%;
    }
    &::after {
      top: 4%;
      left: 10%;
      height: 260px;
      width: 260px;
    }
  }

  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__one3{
    padding: 30px;
  }

  .benefit-order__two3{
    //justify-items: center;
    //padding-left: 0px;
    img{
    }
    &::after {
      top: 0;
      left: 0;
      height: 272px;
      width: 480px;
    }
    margin-left: 0;
  }
}

@media (max-width: 768px){

}


@media (max-width: 576px){

  .section-benefits{
    height: 1730px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .benefit-info__title{
    font-size: 30px;
  }

  .benefit-info__text{
    font-size: 13px;
  }

  .benefits-card{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 500px;
    width: 360px;
  }
  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__two3{
    order: 2;
  }

  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__one3{
    padding: 30px;
  }

  .benefit-info__text1::after,
  .benefit-info__text2::after,
  .benefit-info__text3::after{
    border: none;
  }

  .benefit-order__two1{
    img{
    }
    &::after {
      height: 110px;
      width: 110px;
    }
  }

  .benefit-order__one2{
    img{
    }
    &::after {
      height: 200px;
      width: 200px;
    }
  }

  .benefit-order__two3{
    padding: 0;
    margin: 0;
    img{
    }
    &::after {
      //top: 0;
      //left: 0;
      height: 221px;
      width: 358px;
    }
  }
}






@media (max-width: 375px){

  .section-benefits{
    height: 1340px;
    //padding-top: 80px;
    //padding-bottom: 80px;
  }

  .benefit-info__title{
    margin-bottom: 10px;
    line-height: 34px;
  }

  .benefit-info__text{
    line-height: 15px;
  }

  .benefits-card{
    place-items: center;
    height: 370px;
    width: 314px;
    overflow: hidden;
  }

  .benefit-order__one1,
  .benefit-order__two2,
  .benefit-order__one3{
    padding: 20px;
  }

  .benefit-order__one1{
    align-self: flex-start;
  }

  .benefit-order__two1{
    img{
    }
    &::after {
      height: 100px;
      width: 100px;
    }
  }

  .benefit-order__one2{
    img{
    }
    &::after {
      height: 160px;
      width: 160px;
      top: 10%;
      left: 12%;
    }
  }

  .benefit-order__two3{
    padding: 0;
    margin: 0;
    img{
      max-width: 80%;
      margin-top: 30px;
    }
    &::after {
      height: 100%;
      width: 100%;
    }
  }

  .benefit-order__one3{
    padding-top: 60px;
  }
}